.jumbotron.history {
    background-color: #be79df;
    
}
.footer.history {
     background-color: #be79df;
   
}
.ourAddress {
    margin-top: 10px;
}
.links {
    margin-top: 10px;
}
.container.column {
    background-color: aliceblue;
}