
.jumbotron.history {
    background-color: #7f78d2;
    
    
}
.footer.history {
     background-color: #7f78d2;
   
}
.footer.row {
    margin-top: 10px;
}

.ourAddress {
    margin-top: 20px;
}
.links {
    margin-top: 20px;
}

.column {
    color: white;
}
body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
    
}

.navbar-dark {
    background-color: #512DA8;
}
.card-top {
    background-color: orange;
    text-align: center;
   
}
#ReserveTable {
    color: aliceblue;
}